body {
    background: #FFB64E;
}

.logo-section {
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
}

.btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.button-primary {
    margin-top: 0.9375rem;
    margin-right: 0.4375rem;
    border: 0.125rem solid #444242;
}

.button-secondary {
    margin-right: 0.4375rem;
    border: 0.125rem solid #FFFFFF;
}

.contact-group {
    visibility: hidden;
    height: 1rem;
}
