body {
    font-family: 'Roboto';
    background: #444242;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

#box-idioma {
    width: 7.5831rem;
    height: 2.125rem;
    margin-left: 0.9375rem;
    margin-top: 0.9375rem;
    cursor: pointer;
}

#icon-menu {
    width: 1.625rem;
    height: 1.25rem;
    margin-right: 0.9375rem;
    margin-top: 0.9375rem;
    cursor: pointer;
}

.logo-section {
    margin-top: 5.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.125rem;
}

.logo-img {
    width: 15.0325rem;
    height: 4.6875rem;
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.4rem;
}

.button-primary {
    width: 16.5625rem;
    height: 3.125rem;
    background: #FA9401;
    border-radius: 3.125rem;
    border: none;
    padding-left: 1.25rem;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #FFFFFF;

    background-image: url("../Assets/icone-searchbox.svg");
    background-position: 2.625rem;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    cursor: pointer;
}

.button-primary:hover {
    background-color: #C1770D;
}

.button-secondary {
    width: 16.5625rem;
    height: 3.125rem;
    background: #444242;
    border-radius: 3.125rem;
    border: none;
    padding-left: 1.25rem;
    margin-top: 0.9375rem;

    border: 0.0625rem solid #FA9401;
    border-radius: 3.125rem;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #FFFFFF;

    background-position: 3.875rem;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    cursor: pointer;
    
}

.button-secondary:hover {
    background-color: #C1770D;
}

.contact-group {
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cntc-icon {
    width: 1.875rem;
    height: 1.875rem;
    margin-right: 0.9375rem;
}